.about-company {
  position: relative;
  margin-top: 70px;
  padding-left: 312px;
  padding-right: 134px;
  min-height: 418px;
  padding-bottom: 23px;

  background-image: url("../../img/number@1x.png");
  background-repeat: no-repeat;
  background-size: 220px 317px;
  background-position: left 101px top 4px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/number@2x.png")
  }

  @media (max-width: $width-tablet) {
    margin-top: 22px;
    padding-left: 210px;
    padding-right: 25px;
    background-size: 251px 362px;
    background-position: left -9px top 0px;
  }

  @media (max-width: $width-mobile) {
    margin-top: 39px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: none;
  }
}

.about-company h2 {
  padding-bottom: 23px;
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 50.63px;
  font-weight: 400;

  @media (max-width: $width-tablet) {
    font-size: 32px;
  }

  @media (max-width: $width-mobile) {
    font-size: 28px;
    line-height: 39.38px;
  }
}

.about-company p {
  line-height: 21.5px;

  @media (max-width: $width-mobile) {
    line-height: 22.3px;
  }
}

.about-company p {
  margin-bottom: 24px;

  @media (max-width: $width-mobile) {
    margin-bottom: 35px;
  }
}

.about-company_note-hidden {
  @media (max-width: $width-tablet) {
    @include visually-hidden;
  }
}

.about-company__button {
  margin-top: 40px;
  padding-right: 51px;
  padding-left: 49px;
  width: 180px;
  min-height: 45px;
  font-size: 14px;
  color: $color-secondary;
  letter-spacing: 0.6px;
  border: 1px solid $color-secondary;

  @media (max-width: $width-tablet) {
    margin-top: 45px;
    margin-left: 2px;
    padding: 0 51px 0 49px;
  }

  @media (max-width: $width-mobile) {
    margin-top: 0;
  }

  &:hover {
    color: $color-background-dark;
    border-color: $color-background-dark;
  }

  &:active {
    background-color: $color-background-dark;
    color: $color-main;
  }
}
