.advantages {
  margin-top: 112px;
  background-image: url("../img/polygon1.svg"), url("../img/polygon2.svg"), url("../img/polygon3.svg"), url("../img/polygon4.svg");
  background-position: top -67px left 202px, bottom -56px left, 558px 35px, top 284px right 28px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

  @media (max-width: $width-tablet) {
    margin-bottom: 17px;
    margin-top: 54px;
    background-image: url("../img/polygon3.svg");
    background-position: top 36px right -312px;
  }

  @media (max-width: $width-mobile) {
    margin-bottom: 41px;
    margin-top: 37px;
    background-position: top 615px right -432px;
  }
}

.advantages__inner {
  @include centering;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 122px;
  padding-right: 122px;
  list-style: none;

  @media (max-width: $width-tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__list a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 570px;
  min-height: 299px;
  padding-top: 93px;
  padding-bottom: 40px;
  padding-left: 42px;
  padding-right: 39px;
  border: 1px solid $color-background-light;
  border-left: 3px solid $color-secondary;
  background-color: $color-main;

  &:hover {
    background-color: $color-secondary;

    svg {
      fill: white;
    }

    h3 {
      color: $color-main;
    }

    p {
      color: $color-main;
    }
  }

  &:active {
    background-color: $color-social;
    border-left: 3px solid $color-secondary-text;

    svg {
      fill: white;
    }

    h3 {
      color: $color-main;
    }

    p {
      color: $color-main;
    }
  }

  @media (max-width: $width-tablet) {
    width: 100%;
    min-height: auto;
    padding-top: 63px;
    padding-left: 23px;
    padding-right: 21px;
    padding-bottom: 22px;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
    padding-top: 70px;
    padding-left: 23px;
    padding-right: 19px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  margin-bottom: 33px;
  width: calc((100% - 30px) / 2);

  @media (max-width: $width-mobile) {
    margin-bottom: 19px;
    width: 100%;
  }
}

.advantages__item--stopwatch a {
  @media (max-width: $width-tablet) {
    padding-bottom: 43px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 25px;
  }
}

.advantages__item--hired a {
  @media (max-width: $width-mobile) {
    padding-right: 13px;
    padding-bottom: 26px;
  }
}

.advantages__item--detective a {
  @media (max-width: $width-tablet) {
    padding-top: 59px;
    padding-bottom: 59px;
  }

  @media (max-width: $width-mobile) {
    padding-top: 65px;
    padding-right: 21px;
    padding-bottom: 33px;
  }
}

.advantages__item--tag a {
  @media (max-width: $width-tablet) {
    padding-bottom: 34px;
  }

  @media (max-width: $width-mobile) {
    padding-top: 68px;
    padding-bottom: 26px;
  }
}

.advantages__item svg {
  position: absolute;
  left: 45px;
  top: 40px;

  @media (max-width: $width-tablet) {
    left: 27px;
    top: 24px;
  }

  @media (max-width: $width-mobile) {
    left: 26px;
  }
}

.advantages__item--hired svg {
  @media (max-width: $width-tablet) {
    width: 32px;
    height: 32px;
  }
}

.advantages__item--detective svg {
  top: 45px;

  @media (max-width: $width-tablet) {
    top: 27px;
    width: 30px;
    height: 26px;
  }
}

.advantages__item--tag svg {
  @media (max-width: $width-tablet) {
    top: 25px;
    width: 32px;
    height: 32px;
  }

  @media (max-width: $width-mobile) {
    top: 25px;
    left: 28px;
  }
}

.advantages__item h3 {
  margin: 0;
  padding-bottom: 18px;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $color-secondary;

  @media (max-width: $width-tablet) {
    padding-bottom: 12px;
  }

  @media (max-width: $width-mobile) {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 12px;
  }
}

.advantages__item p {
  margin: 0;
  color: $color-main-text;
  line-height: 22px;
}

.advantages__item--detective p {
  @media (max-width: $width-tablet) {
    transform: translateY(6px);
  }
}

.advantages__item--tag p {
  @media (max-width: $width-tablet) {
    transform: translateY(-2px);
  }
}

.advantages__about-company {
  @include centering;

  padding-left: 122px;
  padding-right: 122px;
}
