.button {
  line-height: 40px;
  font-family: "Roboto Condensed", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  color: $color-main;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
