.button {
  display: flex;
  align-items: center;
  font-family: $font-secondary;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  color: $color-main;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
