.catalog {
  padding-bottom: 99px;
  background-color: $color-background-dark;

  @media (max-width: $width-tablet) {
    padding-bottom: 3px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 4px;
  }
}

.catalog__inner {
  @include centering;
}

.catalog__inner h2 {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 57px;
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 5 1px;
  font-weight: 400;
  color: $color-main;

  @media (max-width: $width-tablet) {
    padding-top: 49px;
    padding-bottom: 49px;
    padding-right: 90px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $width-mobile) {
    padding-top: 51px;
    padding-bottom: 40px;
    padding-right: 3px;
    padding-left: 10px;
    font-size: 28px;
    line-height: 39px;
  }
}

.catalog__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: $width-tablet) {
    display: block;
    padding-bottom: 33px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 30px;
  }
}

.catalog__wrapper article:nth-child(3n + 3) {
  margin-right: 0;
}

.catalog__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  @media (max-width: 1374px) {
    margin-bottom: 30px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 45px;
    width: 100%;
  }

  @media (max-width: $width-mobile) {
    margin-bottom: 31px;
  }
}
