.logo {
  display: flex;

  @media (max-width: $width-mobile) {
    margin-right: 90px;
  }
}

.logo svg {
  margin-right: 15px;

  @media (max-width: $width-mobile) {
    margin-left: 2px;
    width: 38px;
    height: 38px;
  }
}

.logo__title {
  padding-top: 5px;
  width: 140px;

  @media (max-width: $width-tablet) {
    margin-right: 350px;
  }

  @media (max-width: $width-mobile) {
    display: none;
  }
}

.logo__title h1,
.logo__title h2 {
  margin: 0;
  width: 150px;
  font-family: $font-secondary;
  font-size: 25px;
}

.logo__title--footer {
  @media (max-width: $width-tablet) {
    margin-right: 0;
  }

  @media (max-width: $width-mobile) {
    display: flex;
    padding-top: 31px;
    width: auto;
  }
}

.logo__title span {
  display: flex;
  font-family: "$font-logo", BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: $color-secondary-text;
}
