.logo {
  display: flex;

  @media (max-width: $width-only-mobile) {
    margin-right: 90px;
  }
}

.logo svg {
  margin-right: 15px;

  @media (max-width: $width-only-mobile) {
    margin-left: 2px;
    width: 38px;
    height: 38px;
  }
}

.logo__title {
  padding-top: 5px;
  width: 140px;

  @media (max-width: $width-desktop) {
    margin-right: 350px;
  }

  @media (max-width: $width-only-mobile) {
    display: none;
  }
}

.logo__title h1,
.logo__title h2 {
  width: 150px;
  font-family: "Roboto Condensed", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: $font-size-large;
  // line-height: 29px;
}

.logo__title--footer {
  @media (max-width: $width-desktop) {
    margin-right: 0;
  }

  @media (max-width: $width-only-mobile) {
    display: flex;
    padding-top: 31px;
    width: auto;
  }
}

.logo__title span {
  display: flex;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: $font-size-estra-extra-super-small;
  font-weight: 500;
  line-height: 14px;
  color: $color-secondary-text;
}
