.page-main {
  flex-grow: 1;
  transform: translateY(-135px);
  margin-bottom: -135px;

  @media (max-width: $width-desktop) {
    margin-bottom: -141px;
  }

  @media (max-width: $width-only-mobile) {
    margin-bottom: -135px;
  }
}
