.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 39px;
  padding-right: 39px;
  width: 490px;
  min-height: 605px;
  background-color: $color-secondary;
  z-index: 5;
}

.pop-up--active {
  display: block;
}

.pop-up__form {
  padding-top: 29px;
  background-color: $color-secondary;

  @media (max-width: 1300px) {
    padding-left: 46.8%;
  }

  @media (max-width: $width-tablet) {
    padding-left: 63px;
    padding-right: 62px;
  }

  @media (max-width: $width-mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pop-up h2 {
  margin-bottom: 13px;
  font-family: $font-secondary;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
  color: $color-main;
}

.pop-up p {
  padding-left: 0;
  padding-right: 9px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 22px;
  color: $color-main;
  opacity: 0.8;
}

.pop-up__form-field-contacts {
  flex-direction: column;
  margin-bottom: 1px;
  padding-bottom: 0;
  width: 411px;
}

.pop-up__form-field-contacts input {
  margin-bottom: 31px;
  padding-bottom: 4px;
  min-height: 52px;
}

.pop-up__form-field-request textarea {
  min-height: 105px;
}

.pop-up__form-field-contacts input,
.pop-up__form-field-request textarea {
  margin-left: 0;
  padding-left: 24px;
  padding-right: 24px;
  width: 411px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 21.5px;
  color: $color-main;
}

.pop-up__form-button-and-checkbox-wrapper {
  flex-direction: column;
  margin-top: 26px;
  margin-left: 0;
  width: 411px;
}

.pop-up__form-button-and-checkbox-wrapper label {
  width: 400px;
  padding-left: 50px;
}

.pop-up__form-button {
  margin-bottom: 28px;
  width: 411px;
}

.pop-up__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0;
  border: 0;
  background: 0 0;
  cursor: pointer;
  outline: 0;
}

.pop-up input[type="checkbox"]:focus + span {
  outline: 1px solid $color-main;
}
