// colors
$color-main: #FFFFFF;
$color-secondary: #00B2FF;
$color-main-text: #666666;
$color-secondary-text: #788891;
$color-secondart-darker-text: #203C42;
$color-background-dark: #1B2D37;
$color-background-light: #E5E5E5;
$color-background-secondary-light: #FAFAFA;
$color-grey: #626962;


//fonts
$font-size-estra-extra-super-large: 80px;
$font-size-extra-super-large: 60px;
$font-size-extra-large: 40px;
$font-size-lagger: 36px;
$font-size-biggest: 32px;
$font-size-bigger: 28px;
$font-size-large: 25px;
$font-size-big: 24px;
$font-size-medium: 22px;
$font-size-small: 20px;
$font-size-smaller: 18px;
$font-size-main: 16px;
$font-size-smallest: 15px;
$font-size-extra-small: 14px;
$font-size-extra-super-small: 13px;
$font-size-estra-extra-super-small: 12px;


//width
$width-tablet: 770px;
$width-desktop: 1024px;
$width-only-mobile: 768px;


// mixins
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@mixin centering {
  margin: 0 auto;
  max-width: 290px;

  @media (min-width: $width-tablet) {
    max-width: 720px;
  }

  @media (min-width: $width-desktop) {
    // margin: 0 auto;
    max-width: 1434px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

