// colors
$color-main: #ffffff;
$color-secondary: #00b2ff;
$color-main-text: #666666;
$color-secondary-text: #788891;
$color-secondart-darker-text: #203c42;
$color-background-dark: #1b2d37;
$color-background-light: #e5e5e5;
$color-background-secondary-light: #fafafa;
$color-grey: #626962;
$color-light-grey: #c4c4c4;
$color-dark: #000000;
$color-social: #cdcdcd;

// font-family
$font-main: "PTMono", "Segoe UI", "Roboto", "Helvetica Neue", monospace;
$font-secondary: "Roboto Condensed", "Segoe UI", "Helvetica Neue", sans-serif;
$font-logo: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;

//width
$width-tablet: 1023px;
$width-mobile: 767px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
